body{
  margin-top:20px;
  background:#f8f8f8
}
.active-circle {
  color: green;
}
.not-active-circle {
  color: gray;
}

.form-control {
  display: flex;
  align-items: center;
}
.form-control label {
  flex: 0 0 100px; /* adjust width of labels as needed */
  margin-right: 10px; /* adjust spacing between label and input as needed */
}

.lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after { transform: scale(1.15, 0.85); }
.cbx:checked ~ label { background: #7093e0; }
.cbx:checked ~ label:after {
  left: 20px;
  background: #7007b6;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after { background: #bcbdbc; }
.hidden { display: none; }

.my-container {
  display: flex;
  align-items: center;
}

.right-corner {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right-corner select {
  margin-right: 10px;
}